.homecontainer{
    width: 100%;
}
.homeinner{
    width: 100%;
    overflow: hidden;
}





/* Wrapper for the slider */
.sliderWrapper {
    width: 100%;
    position: relative;
    /* padding: 20px; */ 

  }
  
  /* Custom Styling for Slick Dots */
  :global(.slick-dots) {
    bottom: -30px !important;
    text-align: center;
  }
  
  :global(.slick-dots li) {
    margin: 0 5px;
  }
  
  :global(.slick-dots li button:before) {
    font-size: 12px;
    color: gray;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
  
  :global(.slick-dots li.slick-active button:before) {
    color: #145f41 !important;
    opacity: 1;
    font-size: 16px;
  }
  
  /* Custom Arrows */
  :global(.slick-prev),
  :global(.slick-next) {
    width: 25px !important;
    height: 25px !important;
    z-index: 0;
    display: none !important;
  }
  .slickPrev {
    transform: scaleX(-1); /* Flips the arrow */
    background-color: green !important;
       
}

  :global(.slick-prev) {
    left: -50px !important;
    /* background-color: green !important; */
 color: #145f41 !important;
 /* display: none !important; */
  }
  .slickPrev,
  .slickNext {
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  :global(.slick-next) {
    right: -50px !important;
 /* display: none !important; */

  }
  
  .slick-prev,
.slick-next {
 
}



.motionbg{
    width: 100% !important;
    height: 140px;

}
.motionbginner {
    width: 100% !important;
    height: 100%; /* Add this */
    overflow: hidden;
}
.bettercards{
    position: relative;
  /* background: white; */
  border-radius: 24px; /* Add border radius */
  overflow: hidden;
  /* border: 1px solid white; */
  /* border-right: ; */
  height: 450px;
  padding-top: 50px !important;
}

.bettercards::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px; /* Match the container's border radius */
    background: linear-gradient(to right, #2FF86D, rgba(0, 0, 0, 0)); /* Gradient */
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* Masking */
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* For Safari */
    mask-composite: exclude; /* Exclude the inner part */
    -webkit-mask-composite: xor; /* For Safari */
    padding: 2px; /* Border thickness */
    pointer-events: none; /* Ensure clicks pass through */
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 2.3px;
}
.transformgrid{
    border: none;
}


@media screen  and ( min-width: 768px){
    .textfive{
        padding-bottom: 0;
        margin-left: 20px;
    }
   
}

@media screen  and ( max-width: 1024px){
  .bordercard{
    max-width: 650px;
  }
 
}

@media screen  and ( max-width: 800px){
  .bordercard{
    max-width: 550px;
  }
 
}


@media screen  and ( max-width: 680px){
  .bordercard{
    max-width: 450px;
  }
 
}

@media screen  and ( max-width: 639px){
  .bordercard{
    max-width: 400px;
  }
 
}

@media screen  and ( max-width: 600px){
  .bordercard{
    max-width: 320px;
  }
 
}

@media screen  and ( max-width: 491px){
  .bordercard{
    max-width: 300px;
  }
 
}

@media screen  and ( max-width: 480px){
    .abouttxt{
       width: 380px;
    }
   .bordercard{
    max-width: 280px !important;
    margin-left: 30px;
   }
   .bordercard h3{
    font-size: 15px !important;
   }
   .bordercard p{
    font-size: 13px !important;
   }
   .leftcircle{
    bottom: 140px;
}
.leftcircle2{
    bottom: 130px;
}
 
}

@media screen  and ( max-width: 450px){
  .abouttxt{
     width: 380px;
  }
 .bordercard{
  max-width: 230px !important;
  margin-left: 30px;
 }
 .join{
  font-size: 20px;
 }
 .transformgrid{
  display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}
  .transformtext b{
     font-size: 13px;
  } 
  .transformtext p{
    font-size: 11px; 
    /* padding: 20px; */
    /* padding-left: 20px; */
    padding-right: 20px;
    width: fit-content;
 }
}

@media screen  and ( max-width: 400px){
    .abouttxt{
       max-width: 290px !important;
    }
   .bordercard{
    width: 320px !important;
    margin-left: 30px;
   }
   .transformdiv{
    max-width: 320px !important;
    text-align: center;
    padding-left: 20px !important;
    padding-right: 20px !important;
   }
     
   .leftcircle{
    bottom: 190px;
}
.leftcircle2{
    bottom: 170px;
}
 
}

@media screen  and ( max-width: 400px){
  
   .bordercard{
    width: 290px !important;
    margin-left: 30px;
   }
     
   
}
@media screen  and ( max-width: 365px){
  
  .bordercard{
   width: 210px !important;
   margin-left: 30px;
  }
    
  


}

@media screen  and ( max-width: 330px){
  
    .bordercard{
     width: 180px !important;
     margin-left: 30px;
    }
   
    .leftcircle{
      bottom: 260px;
  }
  .leftcircle2{
      bottom: 210px;
  }
      
   
 
 }

 @media screen  and ( max-width: 290px){
  
  .bordercard{
   width: 150px !important;
   margin-left: 30px;
  }
  .leftcircle{
    bottom: 360px;
  }
    
 

}

@media screen  and ( max-width: 520px){
    .transformdiv{
    width: 80% !important;
    }
    .transformgrid{
        display: inline-block;
          padding-top: 20px;
          padding-bottom: 20px;
    }
    .transformtext{
        padding-left: 10px;
        text-align: center;
    }
    .abouttxt{
        width: 300px;
     }
     
     
}