.homecontainer{
    width: 100%;
}
.homeinner{
    width: 100%;
    overflow: hidden;
}


.homecontainer.zoomed {
  transform: scale(1.5); /* Increases the size of the whole body by 50% */
}


/* Wrapper for the slider */
.sliderWrapper {
    width: 100%;
    position: relative;
    /* padding: 20px; */ 

  }
  
  /* Custom Styling for Slick Dots */
  :global(.slick-dots) {
    bottom: -30px !important;
    text-align: center;
  }
  
  :global(.slick-dots li) {
    margin: 0 5px;
  }
  
  :global(.slick-dots li button:before) {
    font-size: 12px;
    color: gray;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
  
  :global(.slick-dots li.slick-active button:before) {
    color: #145f41 !important;
    opacity: 1;
    font-size: 16px;
  }
  
  /* Custom Arrows */
  :global(.slick-prev),
  :global(.slick-next) {
    width: 25px !important;
    height: 25px !important;
    z-index: 0;
    display: none !important;
  }
  .slickPrev {
    transform: scaleX(-1); /* Flips the arrow */
    background-color: green !important;
       
}

  :global(.slick-prev) {
    left: -50px !important;
    /* background-color: green !important; */
 color: #145f41 !important;
 /* display: none !important; */
  }
  .slickPrev,
  .slickNext {
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  :global(.slick-next) {
    right: -50px !important;
 /* display: none !important; */

  }
  
  .slick-prev,
.slick-next {
 
}



.motionbg{
    width: 100% !important;
    height: 140px;

}
.motionbginner {
    width: 100% !important;
    height: 100%; /* Add this */
    overflow: hidden;
}
.bettercards{
    position: relative;
  /* background: white; */
  border-radius: 24px; /* Add border radius */
  overflow: hidden;
  /* border: 1px solid white; */
  /* border-right: ; */
  height: 450px;
  padding-top: 50px !important;
}

.bettercards::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px; /* Match the container's border radius */
    background: linear-gradient(to right, #2FF86D, rgba(0, 0, 0, 0)); /* Gradient */
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* Masking */
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); /* For Safari */
    mask-composite: exclude; /* Exclude the inner part */
    -webkit-mask-composite: xor; /* For Safari */
    padding: 2px; /* Border thickness */
    pointer-events: none; /* Ensure clicks pass through */
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 2.3px;
}
.transformgrid{
    border: none;
}


@media screen  and ( min-width: 768px){
    .textfive{
        padding-bottom: 0;
        margin-left: 20px;
    }
    /* .abouttxt{
       width: 359px;
    }
    .abouttxt {
      font-size: 12px;
   }
   .aboutposimg{
    margin-right: 40px;
   }
   .aboutposimg img{
    left: 20px;
    height: 300px !important;
   } */
}

@media screen  and ( max-width: 950px){
  /* .textfive{
      padding-bottom: 0;
      margin-left: 20px;
  } */
  .abouttxt{
     width: 359px;
  }
  .abouttxt {
    font-size: 12px;
 }
 .aboutposimg{
  margin-right: 40px;
 }
 .aboutposimg img{
  left: 20px;
  height: 300px !important;
 }
}

@media screen  and ( max-width: 768px){
  .transformdiv{
    width: 308px ;
    /* min-width: 208px !important; */
  }
 .abouttxt{
  width:491px;
  font-size: 16px;
}
.aboutfadeleft{
  margin-bottom: 60px;
}
}

@media screen  and ( max-width: 580px){
 
 .abouttxt{
  width:451px;
  font-size: 16px;
}

}
@media screen  and ( max-width: 1024px){
  .transformdiv{
    width: 420px;
  }
}

@media screen  and ( max-width: 1012px){
  .transformdiv{
    width: 400px;
  }
}

@media screen  and ( max-width: 960px){
  .transformdiv{
    width: 380px;
  }
}

@media screen  and ( max-width: 920px){
  .transformdiv{
    width: 370px;
  }
}


@media screen  and ( max-width: 890px){
  .transformdiv{
    width: 350px;
  }
}

@media screen  and ( max-width: 840px){
  .transformdiv{
    width: 300px !important;
  }
}


@media screen  and ( max-width: 790px){
  .transformdiv{
    width: 315px;
  }
}
@media screen  and ( max-width: 745px){
  .transformdiv{
    width: 300px;
  }
}
@media screen  and ( max-width: 738px){
  .transformdiv{
    width: 298px ;
    padding-right: 20px;
    /* min-width: 208px !important; */
  }
 
}
@media screen  and ( max-width: 718px){
  .transformdiv{
    width: 278px ;
    padding-right: 20px;
    /* min-width: 208px !important; */
  }
 .transformtext{
  width: fit-content;
 }
}

@media screen  and ( max-width: 668px){
  .transformdiv{
    width: 268px ;
    /* padding-right: 20px; */
    /* min-width: 208px !important; */
  }
  .transformtext p{
         width: fit-content;
         font-size: 15px;
  }
 
}

@media screen  and ( max-width: 640px){
  .transformdiv{
    width: 248px ;
    /* padding-right: 20px; */
    /* min-width: 208px !important; */
  }
  .transformtext p{
         width: fit-content;
         font-size: 15px;
  }
 
}

@media screen  and ( max-width: 639px){
  .transformdiv{
    width: 288px !important ;
    padding-left: 20px;
    max-width: 288px !important ;

    /* min-width: 208px !important; */
  }
  .transformtext p{
    width: fit-content;
    font-size: 13px;
}
  
}

@media screen  and ( max-width: 615px){
  .transformdiv{
    width: 270px !important ;
    padding-left: 20px;
    max-width: 270px !important ;

    /* min-width: 208px !important; */
  }
  .transformtext p{
    width: fit-content;
    font-size: 13px;
}
  
}

@media screen  and ( max-width: 570px){
  .transformdiv{
    width: 250px !important ;
    padding-left: 20px;
    max-width: 250px !important ;

    /* min-width: 208px !important; */
  }
  .transformtext p{
    width: fit-content;
    font-size: 13px;
}
  
}

@media screen  and ( max-width: 535px){
  .transformdiv{
    width: 235px !important ;
    padding-left: 20px;
    max-width: 235px !important ;

    /* min-width: 208px !important; */
  }
  .transformtext p{
    width: fit-content;
    font-size: 13px;
}
.bankingtext p{
  font-size: 13px;
}
.bankingcards h1{
  font-size: 14px;
}
.bankingcards img{
  width: 80px;
}
  .cardtext{
    font-size: 13px;
  }
}
@media screen  and ( max-width: 1024px){
  .bordercard{
    max-width: 650px;
  }
 
}

@media screen  and ( max-width: 800px){
  .bordercard{
    max-width: 550px;
  }
 
}


@media screen  and ( max-width: 680px){
  .bordercard{
    max-width: 450px;
  }
 .transformsec{
  padding-top: 40px;
  padding-bottom: 30px;
 }
}

@media screen  and ( max-width: 639px){
  .bordercard{
    max-width: 400px;
  }
 
}

@media screen  and ( max-width: 600px){
  .bordercard{
    max-width: 320px;
  }
  .bettercards{
    height: 380px;
  }
  
}

@media screen  and ( max-width: 492px){
  .bordercard{
    max-width: 300px;
  }
  .bettercards{
    width: 200px;
    padding-left: 20px;
    
  }
  .bettercards h1{
          font-size: 15px;
  }
  .bettercards p{
    font-size: 15px;
}
}

@media screen  and ( max-width: 480px){
  .getintouch{
    height: auto; /* Adjust height automatically */
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    
    
  }
  .getimg{
    display: none;
  }
  .stepdiv{
    margin-left: 20px;
  }
  
  .transformsec{
    height: auto; /* Adjust height automatically */
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
  }
 .betterh1{
  font-size: 25px;
 } 
 .geth2{
  font-size:30px;
 }
    .abouttxt{
       width: 400px;
       font-size: 13px;
    }
    .getintouch h1{
     font-size: 20px;
    }
    .getintouch p{
      font-size: 15px;
     }
   .bordercard{
    max-width: 280px !important;
    margin-left: 30px;
   }
   .bordercard h3{
    font-size: 15px !important;
   }
   .bordercard p{
    font-size: 13px !important;
   }
   .leftcircle{
    bottom: 140px;
   }
    .leftcircle2{
    bottom: 130px;
    }
    .transformdiv{
      /* width: 230px !important; */
      max-width: 210px !important;
      padding: 0px;
      /* justify-content:; */
    }
   .transformtext p{
    width: 150px;
    font-size: 11px;
   }
   .transformtext b{
    
    font-size: 12px;
   }
   .bettercards img{
     width: 60px;
   }

   .bettercards p{
    font-size: 13px;
  }
  .join{
    font-size: 18px;
  }
}


@media screen  and ( max-width: 450px){
  .abouttxt{
     width: 380px;
  }
 .bordercard{
  max-width: 230px !important;
  margin-left: 30px;
 }
 .join{
  font-size: 20px;
 }
 .transformgrid{
  display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}
  .transformtext b{
     font-size: 13px;
  } 
  .transformtext p{
    font-size: 11px; 
    /* padding: 20px; */
    /* padding-left: 20px; */
    padding-right: 20px;
    width: fit-content;
 }
 .bettercards{
  width: 180px;
 }
 .bettercards:last-child{
  width: 200px;
 }
 .transformdiv{
  /* width: 230px !important; */
  max-width: 195px !important;
  padding: 0px;
  /* justify-content:; */
}
}
@media screen and (max-width:420px){
  .transformdiv{
    /* width: 230px !important; */
    max-width: 185px !important;
    padding: 0px;
    /* justify-content:; */
  }
}

@media screen  and ( max-width: 400px){
    .abouttxt{
       max-width: 290px !important;
    }
   .bordercard{
    width: 320px !important;
    margin-left: 30px;
   }
   .transformdiv{
    /* max-width: 320px !important; */
    /* text-align: center; */
    /* padding-left: 20px !important;
    padding-right: 20px !important; */
   }
     
   .leftcircle{
    bottom: 190px;
}
.leftcircle2{
    bottom: 170px;
}
.bettercards{
  width: 170px;
  
 }
 .bettercardsinner2{
  width:160px ;
 }

 .bettercards h1{
  font-size: 13px;
 }
 .bettercards:last-child{
  width: 200px;
 }
}

@media screen and ( max-width:390px) {
  .transformdiv{
    /* width: 230px !important; */
    max-width: 165px !important;
    /* padding: 0px; */
    /* justify-content:; */
  }
  .transformtext p{
    width: 140px;
  }
  .transformdiv div:first-child div {
    width: 70%;
  }
 

}

@media screen and ( max-width:350px) {
  .transformdiv{
    /* width: 230px !important; */
    max-width: 145px !important;
    padding-right: 5px;
    /* justify-content:; */
    padding-bottom: 30px;
  }
  
}

@media screen and ( max-width:310px) {
  .transformdiv{
    /* width: 230px !important; */
    max-width: 135px !important;
    padding-right: 9px;
    /* justify-content:; */
    padding-bottom: 220px !important;

  }
  .abouttxt{
    width: 260px !important;
  }
  
}
@media screen  and ( max-width: 400px){
  
   .bordercard{
    width: 290px !important;
    margin-left: 30px;
   }
     
   .transformsec{
    height: fit-content !important;
  } 
}
@media screen  and ( max-width: 365px){
  
  .bordercard{
   width: 210px !important;
   margin-left: 30px;
  }
    
  

}

@media screen  and ( max-width: 370px){
  
  
    
  .bettercards{
    width: 160px;
    
   }


}

@media screen  and ( max-width: 330px){
  
    .bordercard{
     width: 180px !important;
     margin-left: 30px;
    }
   
    .leftcircle{
      bottom: 260px;
  }
  .leftcircle2{
      bottom: 210px;
  }
      
  .bettercards {
    width: 130px;
    
   }   
   .bettercardsinner2{
    width: 100%;
   }
   .bettercardsinner2 p{
    width: 120px;
   }
 
 }

 @media screen  and ( max-width: 290px){
  
  .bordercard{
   width: 150px !important;
   margin-left: 30px;
  }
  .leftcircle{
    bottom: 360px;
  }
    
 

}

@media screen and (max-width:550px) {
      .bankingcard{
        width: 100% !important;
      }
}
@media screen  and ( max-width: 520px){
  .transformdiv{
    width: 225px !important ;
    padding-left: 20px;
    /* max-width: 235px !important ; */

    /* min-width: 208px !important; */
  }
    
    .transformgrid{
        display: block !important;
          padding-top:12px;
          /* padding-bottom: 20px; */
          row-gap: 0px;
        
    }
    .transformgrid img {
          width: 80px;
          /* margin-bottom: 30px; */
    }

    .transformgrid div:first-child {
      /* width: 80px; */
      margin-bottom: 10px;
}
    .transformtext{
        padding-left: 10px;
        /* text-align: center; */
    }
    .abouttxt{
        width: 300px;
     }
     
     
}